
.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.Tabs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Tab {
  width: 50%;
  height: 5vh;
  background-color: #CCCCCC;
}

.Tab-selected {
  width: 50%;
  height: 5vh;
  background-color: #27C0D7;
}


.Program {
  display: flex;
  flex-direction: column;
}

.Programinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Leftinfo {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.Programdescr {
  background-color: #F2F2F2;
  margin: 5px;
}

.Thumbnail {
  height: 70px;
}

.Thumbnail img {
  width: auto;
  height: 100%;
}

.Programtext {
  display: flex;
  flex-direction: column;
}

.Programtext h3 {
  font-size: 18px;
  padding-left: 10px;
  margin: 4px;
}

.Timetitle {
  font-weight: normal;
  color: #777777;
}

.Onnow {
  color: #E7427A;
  font-weight: normal;
}

.Onnow::before {
  color: #E7427A;
  content: "On Now  ";
  font-weight: bold;
}

.Upnext {
  color: #777777;
  font-weight: normal;
}

.Upnext::before {
  color: #777777;
  content: "Up Next  ";
  font-weight: bold;
}

.Programtitle {
  color: #27C0D7;
}

.Toggleicon {
  height: 50px;
  margin-right: 10px;
  color: #CCCCCC;
}

.Toggleiconcontainer {
  align-self: flex-end;
}
