
.App-header {
  background-color: #FFFF;
  min-height: 4vh;
  display: grid;
  align-items: center;
  justify-items: left;
  margin: 10px;
  grid-template-columns: 2fr 1fr;
  font-size: calc(5px + 2vmin);
  color: black;
}

.Sortcontainer {
  justify-self: right;
  font-size: 26 px;
}

.Searchcontainer {
  justify-self: right;
  display: none;
}

.Searchcontainer input {
  border: 2px solid #CCCCCC;
  border-radius: 4px;
  height: 18px;
}

.Dividor {
  background-color: #27C0D7;
  height: 2vh;
  width: 100%;
}

.Tabs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Tab, .Tab-selected {
  display: flex;
  width: 50%;
  height: 10vw;
  max-height: 60px; 
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #FFFFFF
}

.Tab {
  background-color: #CCCCCC;
}

.Tab-selected {
  background-color: #27C0D7;
}

h3 {
  font-size: calc(10px + 1vmin)
}

.Program {
  display: flex;
  flex-direction: column;
}

.Programinfo {
  display: grid;
  grid-template-columns: 160px 15fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
  grid-column-gap: 10px
}

.Programinfo h3 {
  margin: 5px
}

.Programdescr {
  background-color: #F2F2F2;
  padding: 10px;
}

.ProgramdescrHidden .Programdescr > p {
  font-size: calc(10px + 1vmin)
}

.ProgramdescrHidden {
  display : none;
}

.Descrepisodetitle {
  font-weight: bold;
}

.Thumbnail {
  height: 90px;
  width: 160px;
  grid-row: 1/3;
}

.Thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Programtime {
  grid-column: 2;
  align-self: end;
}

.Programtitle {
  grid-column: 2;
  grid-row: 2;
  align-self: start;
}

.Programtitle h3 {
  color: #27C0D7;
}

.Episodetitle {
  display: none;
}

.Episodetitle h3 {
  font-weight: normal;
  color: #797979;
}

.Toggleiconcontainer {
  align-self: flex-start;
  grid-row: 1/3;
  grid-column: 4;
}

.Toggleicon {
  height: 5em;
  margin-right: 10px;
  color: #CCCCCC;
}

.Timetitle {
  font-weight: normal;
  color: #777777;
}

.Onnow {
  color: #E7427A;
  font-weight: normal;
}

.Onnow::before {
  color: #E7427A;
  content: "On Now  ";
  font-weight: bold;
}

.Upnext {
  color: #777777;
  font-weight: normal;
}

.Upnext::before {
  color: #777777;
  content: "Up Next  ";
  font-weight: bold;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px)  {

  .Searchcontainer {
    display: block;
  }

  .Programinfo {
    grid-template-columns: 3fr 160px 13fr 1fr
  }

  .Episodetitle {
    display: block;
  }

  .Programtime {
    align-self: start;
    grid-column: 1;
    grid-row: 1/3;
  }

  .Thumbnail {
    grid-column: 2;
  }

  .Programtitle {
    align-self: end;
    grid-column: 3;
    grid-row: 1;
  }

  .Episodetitle {
    grid-column: 3;
    grid-row: 2;
  }

  .Upnext::before {
    content: "Up Next  \A";
    white-space: pre;
  }
  .Onnow::before {
    content: "On Now  \A";
    white-space: pre;
  }

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {


  .Programinfo {
    grid-template-columns: 2fr 160px 13fr 1fr
  }

  .Toggleiconcontainer {
    display: none;
  }

  .ProgramdescrHidden {
    background-color: #F2F2F2;
    padding: 10px;
    display : block;
  }

}
