
.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.Tabs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Tab {
  width: 50%;
  height: 5vh;
  background-color: #CCCCCC;
}

.Tab-selected {
  width: 50%;
  height: 5vh;
  background-color: #27C0D7;
}


.Program {
  display: flex;
  flex-direction: column;
}

.ProgramInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.LeftInfo {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.ProgramDescr {
  background-color: #F2F2F2;
  margin: 5px;
}

.Thumbnail {
  height: 70px;
}

.Thumbnail img {
  width: auto;
  height: 100%;
}

.Timetitle {
  display: flex;
  flex-direction: column;
}

.Timetitle h3 {
  font-size: 18px;
  padding-left: 10px;
  margin: 4px;
}

.Toggleicon {
  height: 50px;
  margin-right: 10px;
}

.Toggleiconcontainer {
  align-self: flex-end;
}
